<%- include ('userPartials/userHeader.ejs') %>

<style>
    .password-container {
        position: relative;
        width: 500px;
    }

    .password-input {
        width: 100%;
        padding: 10px;
        padding-right: 40px;
        box-sizing: border-box;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .toggle-password .fas {
        font-size: 18px;
        color: #de1f1f;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 offset-md-1" style="align-self: center;">
            <div class="login-register-wrap register-wrap">
                <br>
                <br>
                <h3><i class="fa fa-user-o"></i> Reset Password</h3>
                <br>
                <br>
                <form id="resetPass" action="/resetPassword" method="post">
                    <input type="hidden" id="id" name="id" value="<%= locals.id %>" >
        
                    <% if(locals.err) { %> 
                        <div class="error1 alert alert-danger w-75"><%= locals.err  %></div>
                        <% } %>
                    <br>
                    <div class="password-container sin-login-register">
                        <label>New Password </label>
                        <input type="password" name="newPassword" class="password-input" id="newPassword">
                        <button type="button" id="ntogglePassword" class="toggle-password">
                            <i id="neyeIcon" class="fas fa-eye"></i>
                        </button>
                        <p class="error mb-2" id="newpass" style="display: none; color: red;"></p>
                        <% if(locals.err){ %>
                            <p class="text-danger"><%= locals.err %></p>
                        <% } %>
                    </div>
                    <br>
                    <div class="password-container sin-login-register">
                        <label>Confirm New Password </label>
                        <input type="password" name="cPassword" class="password-input" id="cPassword">
                        <button type="button" id="ctogglePassword" class="toggle-password">
                            <i id="ceyeIcon" class="fas fa-eye"></i>
                        </button>
                        <p class="error mb-2" id="confirmpass" style="display: none; color: red;"></p>
                    </div>
                    <br>
                    <div class="login-register-btn">
                        <button type="submit">Change Password</button>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<script src="/public/js/resetpass.js"></script>

<%- include ('userPartials/userFooter.ejs') %>